$accent-color: #2196f3;
$black-text: #212121;
$grey-text: #757575;
$white-text: #ffffff;
$footer-text: rgba(255, 255, 255, 0.6);
$product-list-gap: 30px;
$social-icon-color: #afb1b8;
$social-footer-icon: rgba(255, 255, 255, 0.1);
$backdrop-color: rgba(0, 0, 0, 0.2);
$bgc-activity: rgba(47, 48, 58, 0.8);
$animation-dur: 250ms;
$animation-type: cubic-bezier(0.4, 0, 0.2, 1);
$portf-ov-color: rgba(33, 150, 243, 0.9);
